--tea-green: #ccd5aeff;
--beige: #e9edc9ff;
--cornsilk: #fefae0ff;
--papaya-whip: #faedcdff;
--light-bronze: #d4a373ff;
    
    body{margin:20vh 20vw;
        background: var(--cornsilk);
        color:#220901;
